<div class="container" style="margin-top: 20px; margin-bottom: 30px;">
  <div class="row books-index">
    <div class="col-md-3">
      <%= render 'devise/shared/userinfo', user: @user %>
      
      <h2>New book</h2>
      <%= form_with model:Book.new, method: :post do |f| %>
      <div class="form-group">
        <label>Title</label><br>
        <%= f.text_field :title , class: "form-control" %>
      </div>
      <div class="form-group">
        <label>Opinion</label><br>
        <%= f.text_area :body , class: "form-control" %>
      </div>
      <%= f.submit "Create Book", class: "btn btn-sm btn-success" %>
      <% end %>
    </div>
    <div class="col-md-8 offset-md-1 ml-5">
      <h2 class="pb-1">Books</h2>
      
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col">Opinion</th>
            <th></th>
          </tr>
        </thead>
        <% @books.each do |book| %>
        <tbody>
          <tr>
            <th scope="row">
            <%= link_to user_path do %>
              <%= image_tag @user.get_profile_image(70,70) %>
            <% end %>
            </th>
            <td>
            <%= link_to book_path(book) do %>
              <%= book.title %>
            <% end %>
            </td>
            <td>
            <%= book.body%>
            </td>
            <td>
              <% if book.favorited_by?(current_user) %>
                <p>
                  <%= link_to book_favorites_path(book), method: :delete do %>
                    <i class="fa fa-heart" style="color: #ff3355;"></i><%= book.favorites.count %>
                  <% end %>
                </p>
              <% else %>
                <p>
                  <%= link_to book_favorites_path(book), method: :post do %>
                  <i class="fa fa-heart" style="color: #3399ff;"></i><%= book.favorites.count %>
                  <% end %>
                </p>
              <% end %>
            </td>
            <td>
              <p>コメント数:<%= book.book_comments.count %></p>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      
    </div>
  </div>
</div>
